/*��ҳ*/
.pagination{font-size:12px;}
.pagination a{text-decoration:none;border:solid 1px #ccc;color:#999;}
.pagination a,.pagination span{line-height:1.7; display:block;float:left;padding:5px 9px;margin-right:5px;margin-bottom:5px;min-width:1em;text-align:center;}
.pagination .current{background:#04B4B3;color:#fff;border:solid 1px #ccc;}
.pagination .current.prev,.pagination .current.next{color:#999;border-color:#999;background:#fff;}
.tm_psize_go{padding:5px;margin-right:4px; float:left;height:32px;line-height:32px;position:relative;border:1px solid #ccc;}
#tm_pagego{height:30px;line-height:30px;width:30px;float:left;text-align:center;border:1px solid #ccc;}